.container {
  display: flex;
  align-items: center;
  width: 80%;
}

.label {
  margin-right: 8px;
  font-weight: bold;
}

.input {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
  border-radius: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: var(--sky-700);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--blue-700);
}
